html, * {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.container {
    overflow: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    background-color: #232323;
    display: flex;
    flex-flow: column;

    align-items: center;
    justify-content: center;
}

.topic {
    font-size: 20px;
    padding: 30px;
    color: #fff;
}

.author {
    font-size: 20px;
    padding: 30px;
    color: #0ff;
}

.title {
    font-size: 20px;
    color: #0ff;
    margin-top: 20px;
}

.content {
    font-size: 18px;
    padding: 20px;
    margin: 0 240px;
    color: #fff;
}

.content.hole {
    margin: 0;
}

.footer {
    font-size: 20px;
    color: #5989ff;
    margin-top: 20px;
}

.process-bar {
    position: fixed;
    bottom: 0;
    height: 4px;
    background-color: #b96dff;
}

p {
    padding-bottom: 10px;
}

a {
    color: #5989ff;
}

img {
    width: 550px;
    display: inline-block;
}

